*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  background: url("./assets/images/background-desktop.png");
  font-family: 'Courier New', Courier, monospace;

}
body{
  display: flex; 
   align-items: center; 
  justify-content: center;
  min-height: 100vh;
   color: white;
  padding:2rem;
  
}
.container{
  max-width: 1480px;
  width:100%;
  text-align: center;
  height:100vh
  
}
img{
  
  margin-bottom: 1rem;;
}
h2{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
p{
  color:#ccc;
  margin-bottom: 0.5 rem;
  
}
.upload-box{
  border:2px dashed;
  border-radius: 8px;
  padding: 2em;
  display: block;
  cursor:pointer;
  margin-bottom: 1rem;
 
}
.form {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 2rem;
  backdrop-filter: blur(10px);
  margin-bottom: 1.5rem;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  /* width:60%; */
  /* margin-left:30%; */
 
}
.form >p{
  text-align: start;
  margin-bottom: 0.8rem;
}
.upload-content {
  color: #bbb;

}
.upload-content span {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"], input[type="email"]
{
  /* margin-top: 1rem; */
  width:100%;
  background: #1e1e2e;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  border:none;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
button{
  background: #ff6b6b;
  /* //border:none; */
  border-radius: 8px;
  width:100%;
  color:white;  
  padding: 0.75rem 1.5rem;
  border:none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}
input::placeholder {
  color: #aaa;
}
.name{
  display: block;
  text-align: start;
  margin-bottom: 8px;
}
#upload-icon
{
  margin-bottom: 0.2rem;
}
